<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>



    <h2>Select any one </h2>
    <a href="/users/register">
        <button>
            user
        </button>
    </a>

    <a href="/admin/register">
        <button>
            Admin
        </button>
    </a>
  </body>
</html>
